.big-photo {
  padding: 120px 0;
  background-color: #111111;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #FFFFFF;
  @media (min-width: 420px) {
    background-attachment: fixed;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  background-image: url('/-/img/1200/photo-2.jpg');
  padding: 13% 5% 25%;
  text-align: center;
}

.logo-container {
  max-width: 600px;
  margin: 0 auto;
}

.btn-pay {
  position: absolute;
  top: 10px;
  left: 10px;
}

.btn-register {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header h1,
.header h2,
.header p {
  display: none;
}

#mission {
  padding-top: 30px;
  color: #739C72;
  text-align: center;
}

.jumbotron {
  background: none;
}

#classes {
  text-align: center;
}

.well h2 {
  margin: 0;
  padding: 20px 10px;
  background: #766899;
  color: #FFFFFF;
}

.well .price {
  color: #4FC6B7;
  margin: 20px 0;
}

.well .price .lead {
  font-weight: 700;
  margin-bottom: 0;
}

.well .time {
  color: #397AA9;
  font-size: 21px;
  line-height: 1.4;
}

#contact {
  margin: 40px 0;
}

#contact h1 {
  color: #e5917b;
}

#contact h2,
#contact h2 a {
  color: #5375ab;
}